# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
staging
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
api/config.php
api/config.dev.php
api/config.prod.php
api/buildenv.php
api/vendor
certs/*
.env
.env.production
.env.development
api/buildenv.php

api/extensions/*

src/extensions/cards/*
src/extensions/pages/*
src/extensions/settings/*

!src/extensions/cards/manifest.js
!src/extensions/pages/manifest.js
!src/extensions/settings/manifest.js

!src/extensions/cards/AnnouncementCard.jsx
!src/extensions/cards/ExampleCard.jsx
!src/extensions/cards/ExampleTaskTrackerCard.jsx
!src/extensions/cards/ExampleWeatherCard.jsx
!src/extensions/pages/ExamplePage.jsx
!src/extensions/pages/ExampleWeatherPage.jsx
!src/extensions/settings/ExampleSettings.jsx
!src/extensions/settings/ExampleWeatherSettings.jsx
